--extra-index-url https://download.pytorch.org/whl/cpu
fastapi[standard]==0.115.8
python-multipart==0.0.20
uvicorn==0.34.0
pydantic==2.10.6
requests==2.32.3
pinecone[grpc]==7.3.0
ibmcloudant>=0.10.0
nltk==3.9.1
transformers==4.48.1
torch>=2.8.0+cpu
dacite==1.8.1
beautifulsoup4==4.12.3
sentence-transformers==3.4.0
langchain-text-splitters==0.3.8
nbdev==2.3.34
rq==2.1.0
redis==5.2.1
pyjwt==2.10.1
openai==1.68.0
loguru==0.7.3
lark==1.2.2
email-validator
kneed==0.8.5